.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  padding-top:5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  color: white;
}

.App-content h1{
  font-family: Georgia, serif;
  text-transform: uppercase;
  font-weight: 400;
}

.App-content input[type = "email"],.App-content input[type = "string"],.App-content input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.App-content input[type = "email"]:focus,.App-content input[type = "string"]:focus,.App-content input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

.App-content input[type = "submit"]{
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.App-content input[type = "submit"]:hover{
  background: #2ecc71;
}

.mr-auto{
  float: left;

}

.mr-auto{
  float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: white;
}

.UserList{
  padding-top:5vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
