#register-nav-link {
  margin-top: 0 !important;
}

.nav-link {
  margin-top: 0.85rem !important;
}

.btn-outline-dark {
  color: rgba(0, 0, 0, 0.5) !important;
}

.btn-outline-dark:hover {
  color: white !important;
}

.radarin-title {
  display: inline;
  position: relative;
  top: 5px;
}

.log-out-btn {
  margin-top: 0;
  position: absolute;
  right: 2em;
  background-color: lightcoral;
}

.log-out-btn:hover {
  background-color: red;
}

@media (max-width: 975px) {
  .log-out-btn {
    position: relative;
    left: 1em;
  }
}

.logged-in-msg-panel {
  margin-top: 100px;
  z-index: 10;
  color: white;
}

.log-in-panel {
  margin-left: 50px;
  margin-top: -10px;
}

.log-in-panel input {
  padding: 10px;
  width: 20em;
}

.log-in-btn {
  color: black;
  margin-left: 10px;
  background-color: lightgreen;
}

.log-in-btn:hover {
  background-color: darkgreen;
}

.navbar-brand {
  pointer-events: none;
  cursor: default;
}

.registered-user-container {
  margin-top: 50px;
}

#friends {
  margin-top: 0;
  background-color: navy;
}


.notification-button {
  background-color: transparent;
  position: absolute;
  right: 10em;
}
