.register-card{
    color: white;
    width: 25rem;
    height: 200px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border: none;
    padding: 80px 0 0;
    font-size: 2em;
}

.register-btn{
    padding: 20px;
}

.register-title{
    font-size: 0.4em;
    margin-bottom: 50px;
}